.mainTable {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #ffffff;
  margin: 0 auto 100px;
  padding: 45px;

  th,
  td {
    padding: 0.5rem 1.5rem;
    text-align: center;
    vertical-align: middle;
  }

  p {
    margin: 0;
    padding: 10px;
  }
}
